* {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding:0px;
}

#nav {
 
  height: 70px;
  display: grid;
  grid-template-columns: 5% 20% 55% 20%;
}

#logo {
  margin:0px 10px;
  line-height: 5rem;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Red_Triangle.svg/909px-Red_Triangle.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  text-shadow: 1px -1px -1px #000;
}


#search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0px 20px;
}
#search-bar{
  background-color: #e6e6e6;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 70%;
  height: 10%;
}

#search button {
   background-color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 20%;
  height: 30%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/2048px-Vector_search_icon.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav ul li {

  text-align: center; /* Ensure horizontal alignment within the li */
  line-height: 5rem; /* Set line height to match li height for centering */

}


